[submodule "backend"]
	path = backend
	url = https://github.com/batprem/hatyai-flood-tracker-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/batprem/hatyai-flood-tracker-frontend
[submodule "qa"]
	path = qa
	url = https://github.com/batprem/hatyai-flood-tracker-qa
[submodule "data-engineering"]
	path = data-engineering
	url = https://github.com/batprem/hatyai-flood-tracker-de
